.cardContainer {
    border: 2.5px solid #ff6b6b;
    border-radius: 10px;
    padding: 10px;
    background-color: #1a15357a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
  }
  
  .cardInfo {
    margin: 5px 0;
    color: #f6f6f6;
  }
  
  .cardImage {
    max-width: 280px;
    min-width: 210px;
    max-height: 320px;
    border-radius: 5px;
  }
  
  .cardContainer:hover {
    box-shadow: 0 0 15px rgba(255, 107, 107, 0.8), 0 0 20px rgba(255, 255, 255, 0.2);
    border-color: #ff6b6b;
  }
  
    