.info_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 45px;
}
.image_container{
    display: grid;
    place-content: center;
}

.secondary_info{
    display: grid;
    place-content: center;
    margin-top: 40px;
}

#card{
    padding: 15px;
}

.description{
    margin-right: 10px;
}

#product_image{
    width: 350px;
    height: 500px;
}

#product_image:hover{
    outline:  thick double black;
    outline-offset: 4px;
}

.button, #mp{
    margin: 10px ;
    padding: 2px 4px;
}

.button{
    width: 200px;
    height: 30px;
    color: white;
    background-color: green;
}

#mp{
    display: block;
    width: 230px;
    height: 30px;
    background-color: rgba(0,188,255,255);
    border-radius: 5px;
    border: none;
}

.button:hover, #mp:hover{
    cursor: pointer;
}

a{
    text-decoration: underline;
}

#a{
    position: relative;
    bottom: 3px;
    margin-left: 10px;
    font-size: 0.9rem;
    font-family: Roboto;
    text-decoration: none;
    color: white;
}


#img{
    position: relative;
    top: 2px;
    width: 30px;
    height: 20px;
}

#price{
    font-size: 30px;
}